#pre-header {
	width: 100%;
	height: 20px;
	background-color: black;
	position: fixed;
	z-index: 1000;
}
.image {
    position: fixed;
    width: 100%;
    height: 45%;

    background-size:cover;
}
body {
    background-color: #F0FFFF;
 

}
#navheader ul {
    list-style-type: none;
    margin-top: -1%;
    padding: 0;
    overflow: hidden;
    background-color:#000080;
    position: fixed;
    top: 15;
    width: 100%;
    height: 40px;
}

#navheader li {
    float: left;
}

#navheader li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navheader li a:hover:not(.active) {
    background-color: #111;
}

#navheader .active {
    background-color: #e68a00;
}