#pre-header {
	width: 100%;
	height: 20px;
	background-color: black;
	position: fixed;
	z-index: 1000;
}
.image {
    position: fixed;
    width: 100%;
    height: 45%;

    background-size:cover;
}
body {
    background-color: #F0FFFF;
}
h1 {
    position: absolute;
    left: -450px;
    top: 50px;
    width: 100%;
    text-align: center;
    font-size: 26px;
}
ul {
    list-style-type: none;
    margin-top: -1%;
    padding: 0;
    overflow: hidden;
    background-color:#000080;
    position: fixed;
    top: 15;
    width: 100%;
    height: 40px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #e68a00;
}

.user_login {
    float: left;
    max-width: 250px;
    margin-top: -50px;
    padding: 3em;
    position: relative;
    top: 100;
    border: 3px solid black;

}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
.floating-box {
    display: inline-block;
    width: 100px;
    height: 75px;
    margin: 15px;
    border: 3px solid black;  
}

.footer {
    
}
.content_customer table,th,td {
    padding:6px;
    border: 1px solid #2E4372;
   border-collapse: collapse;
   text-align: center;
}